asgiref==3.8.1
attrs==25.1.0
autocommand==2.2.2
babel==2.17.0
bcrypt==4.2.0
blinker==1.9.0
certifi==2025.1.31
chardet==5.2.0
click==8.1.8
configobj==5.0.9
cryptography==43.0.0
distro==1.9.0
Django==4.2.18
httplib2==0.22.0
idna==3.10
pexpect==4.9.0
pillow==11.1.0
PyJWT==2.10.1
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0
pytz==2025.1
pyxdg==0.28
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3


